@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* #242424 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.chatbot.slide-in {
  animation: slideIn 0.3s ease-out forwards;
}

.chatbot.slide-out {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
  width: 98%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.custom-tab-active {
  background-color: #fdf02e !important;
  /* Uses the bgSecondary color */
  color: white !important;
  /* Ensures text color stays white */
}

.carousel-item {
  transition: transform 0.3s ease-in-out;
}

input {
  color: #14213d;
}